@model Ex1.Models.OutputData
 
@{
    ViewData["Title"] = "OutputData";
}     

<div class="text-center">
    <h2>Name:</h2><h3>@Model.name</h3>
    <h2>Date:</h2><h3>@Model.date</h3>
    <h2>Application name:</h2><h3>@Model.applicationName</h3>
    <h2>Environment:</h2><h3>@Model.environmentName</h3>
    <h2>Host:</h2><h3>@Model.host</h3>
    <h2>Protocol:</h2><h3>@Model.protocol</h3>
</div>

